

.open-sans-inter{
  font-family: "inter", sans-serif;
  font-optical-sizing: 34px;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: rgba(78, 71, 255, 1);
}

.open-sans-raleway{
  font-family: "raleway", sans-serif;
  font-optical-sizing: 65px;
  font-weight: bold;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    padding: 12px 36px;
}

.text-center{
    text-align: center;
}
.qtitle{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);

}
.qp{
    font-size: 20px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}

/* heading styles */
.header{
    display: flex;
    align-items: center;
    margin: 0px 150px;
   justify-content: space-between;
}
.h2{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.div2{
    margin: 300px 265px 150px 265px;   
    
}
header section{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    height: 700px;
}
/* section 2 */
.section2{
    padding-top: 115px;
    padding-bottom: 115px;
}
.div3{
    display: flex;
    gap: 220px;
    align-items: center;
    padding: ;
}
.img2{
    width: 400px;
    height: 328px;
    border-radius: 50px;
}
.sec2-title{
    font-weight: bold;
    font-size: 42px;
}
.sec2-descrip{
    font-size: 24px;
    font-weight: normal;
    color: #252432;
    padding-top: 23px;
    padding-bottom: 23px;
    color: rgba(37, 36, 50, 0.5);
}

.title-descrip-btn{
    width: 520px;
    height: 200px;
}
/* section3 thousand of productive users */
.titlePU{
    font-size: 38px;
    font-weight: bold;
}
.productive-users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
   
}
.quantity-of-productive-users{
    display: flex;
    gap: 158px;
    
}
.divPU{
    padding: 50px 140px;
}


main {
    max-width: 1140px;
    margin: 0px auto;
}
/* section4 what our users say */
.sec4title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.users-reviews{
    display: flex;
    gap: 20px;
    align-items: center;
     
}
.users-review{
    
}
.iconimg{
    color: #FFB805;
    width: 20px;
    height: 20px;
}
.id{
    display: flex;
    align-items: center;
    gap: 12px;
}
.review-title{
    font-size: 20px;
}
.p-review{
    color: rgba(30, 30, 30, 1);
    padding-top: 8px;     
    padding-bottom: 24px;
}
.sec4{
    padding-top: 135px;
}
.star-img{
    display: flex;
}
/* section5 Ready to focus better */
